@import "tailwindcss";

@theme {
    --color-primary: #2563eb; /* Valeurs HSL */
    --color-secondary: #facc15;
    --color-neutral1: #f9fab0;
    --color-neutral2:  #111827;
    --font-text1:  "roboto";
  }
